
body
{
	border-top: solid #01B5FE .3em;
	background: #d9d8da;
	color:white;
	font-size: 16px;
	font-family: Roboto;
}

footer
{	
	padding: 0.5em;
	font-family: Roboto;
	position: absolute;
	width: 100%;
	margin:0 auto auto auto;
	color: black;
	background: #00de72;
	border-bottom: solid #007F41 4px; 
}

footer p
{
	text-align: center;
	color: white;
}

footer p:after
{
	content: "-";
}

footer p:before
{
	content: "-";
}

header
{
	padding: 0.5em;
	overflow: hidden;
	position: relative;
	background: #FAFAFF;

}

header h1
{
	color : #03b4fd;
	margin: 0 0 0 0;
	font-family: Roboto;
	padding: 0;
}


header h1:after
{
   content: "|";
   padding-left: 1em;
   color: #00de72;
   padding: 0;
   margin: 0;
}


header p
{
	color: #00de72;
	margin: 0;
	padding: 0;
	margin-right: solid red 2px;
	font-family: Roboto;
}

header #triangulo
{
	width: 0; 
	height: 0;
	position: absolute;
	top: 0;
	right: 0; 
	margin: 0;
	padding: 0;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 4em solid rgba(0, 165, 85, 0.7);
}

header #triangulo2
{
	width: 0; 
	height: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 1em; 
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 4em solid rgba(242, 58, 78,0.7);
}

header #triangulo3
{
	width: 0; 
	height: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 2em; 
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 4em solid rgba(2, 163, 229, 0.7);

}

header h1, header p
{
	display: inline-block;
}

nav
{	
	background: #03b4fd;
	border-bottom: solid #03A3E5 4px;
	padding: 0.5em;

}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}

nav ul li a
{
	color: white;
	text-decoration: none;
	font-family: Roboto;
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
}

.me 
{
	text-align: left;
	padding: 0.5em;
}










