@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-5hkhba');
	src:url('/fonts/icomoon.eot?#iefix-5hkhba') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-5hkhba') format('woff'),
		url('/fonts/icomoon.ttf?-5hkhba') format('truetype'),
		url('/fonts/icomoon.svg?-5hkhba#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dice:before {
	content: "\e600";
}
.icon-tablet:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-google-plus:before {
	content: "\e603";
}
.icon-instagram:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e606";
}
.icon-android:before {
	content: "\e607";
}
.icon-apple:before {
	content: "\e608";
}
.icon-code:before {
	content: "\e609";
}
.icon-images:before {
	content: "\e60a";
}


body
{
	border-top: solid #01B5FE .3em;
	background: #FAFAFF;
	color: #272722;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

footer
{	
	padding: 0.5em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: black;
	background: #00de72;
	border-bottom: solid #007F41 4px; 
}

footer 
{
	color: white;
}

footer p:after
{
	content: "-";
}

footer p:before
{
	content: "-";
}

header
{
	padding: 0.5em;
	overflow: hidden;
	position: relative;
	background: #FAFAFF;

}

header h1
{
	color : black;
	margin: 0 0 0 0;
	font-family: 'Roboto', sans-serif;
	padding: 0;
}


header h1:after
{
   content: "|";
   padding-left: 1em;
   color: #00de72;
   padding: 0;
   margin: 0;
}


header p
{
	color: #00de72;
	margin: 0;
	padding: 0;
	margin-right: solid red 2px;
	font-family: 'Roboto', sans-serif;
}


header #triangulo
{
	width: 0; 
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0 0 0;
	border-right: 2.5em solid transparent;
	border-bottom: 4em solid rgba(242, 58, 78,0.4);
}


header h1, header p, header #triangulo
{
	display: inline-block;
}

nav
{	
	background: #03b4fd;
	border-bottom: solid #03A3E5 4px;
	padding: 0.5em;

}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}

nav ul li a
{
	color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
}

.me
{
	background: rgba(0, 0, 0, 0.5);
	text-align: center;

}

.me h2
{
	font-family: 'Roboto', sans-serif;
	text-align: left;
	color: white;
	padding: 0;
	margin:0;
	font-size: 2em;
	padding: 10px;
	text-align: center;
}

.me span
{
	font-size: 5em;
	color: white;
	text-decoration: none;
}






