@font-face {
    font-family: 'robotothin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?xlbjg');
	src:url('../fonts/icomoon.eot?#iefixxlbjg') format('embedded-opentype'),
		url('../fonts/icomoon.woff?xlbjg') format('woff'),
		url('../fonts/icomoon.ttf?xlbjg') format('truetype'),
		url('../fonts/icomoon.svg?xlbjg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tablet:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-google-plus:before {
	content: "\e603";
}
.icon-instagram:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e606";
}
.icon-android:before {
	content: "\e607";
}
.icon-apple:before {
	content: "\e608";
}
.icon-code:before {
	content: "\e609";
}
.icon-images:before {
	content: "\e60a";
}
.icon-stats:before {
	content: "\e600";
}
.icon-html5:before {
	content: "\e60b";
}
.icon-at:before {
	content: "\e60c";
}
.icon-gallery:before {
	content: "\e60d";
}



body
{
	background:  #7d7d7f;
	font-size: 16px;
	font-family: 'robotothin', sans-serif;
}

footer
{	
	padding: 0.5em;
	font-family: 'robotothin', sans-serif;
	text-align: center;
	color: black;
	background: #00de72;
	border-bottom: solid #007F41 4px; 
}

footer 
{
	color: white;
}

footer p:after
{
	content: "-";
}

footer p:before
{
	content: "-";
}

header
{
	padding: 0.5em;
	overflow: hidden;
	position: relative;
	background: #FAFAFF;
}

header h1
{
	color : black;
	margin: 0 0 0 0;
	font-family: 'robotothin', sans-serif;
	padding: 0;
}


header h1:after
{
   content: "|";
   padding-left: 1em;
   color: #00de72;
   padding: 0;
   margin: 0;
}


header p
{
	color: #00de72;
	margin: 0;
	padding: 0;
	margin-right: solid red 2px;
	font-family: 'robotothin', sans-serif;
}


header #triangulo
{
	width: 0; 
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0 0 0;
	border-right: 2.5em solid transparent;
	border-bottom: 4em solid rgba(242, 58, 78,0.4);
}


header h1, header p, header #triangulo
{
	display: inline-block;
}

nav
{	
	background: #03b4fd;
	border-bottom: solid #03A3E5 4px;
	padding: 0.5em;
	position: relative;

}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}

nav ul li a
{
	color: white;
	text-decoration: none;
	font-family: 'robotothin', sans-serif;
	display: block;
	padding: 0.5em 0.5em 0.5em 0;
}


#contenido_contact
{
	background: #ded37b;
}

#contenido_contact #contact h2
{
	color: white;
	font-size: 3em;
	padding: 0;
	margin: 0;
}

#contenido_contact #contact #pikachu img
{
	width: 200px;
	border-radius: 50%;
}

#contenido_contact #contact #pikachu figcaption
{
	color: white;
}

#contenido_contact #contact a
{
	text-decoration: none;
	color: white;
	font-size: 2.5em;
	padding-right: 0.8em;
}

#contenido_contact #contact #plus
{
	color:#d73c31;
}

#contenido_contact #contact #github
{
	color:#333333;
}

#contenido_contact #contact #twitter
{
	color:#55acee;
}


#contenido_contact #contact #facebook
{
	color:#44619d;
}


#contenido_education:before{
	content:"";
	position: absolute;
  	top:0;
  	left: 0;
  	z-index: -1;
	background-image: url(../img/fondoeducacion.jpg);
	height: 100%;
	width: 100%;

  	-webkit-filter: blur(4px);
  	-moz-filter: blur(4px);
  	-o-filter: blur(4px);
  	-ms-filter: blur(4px);
  	filter: blur(4px);
}

#contenido_education 
{
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
}

#contenido_education #education h2
{
	color: white;
	font-size: 3em;
	text-align: center;
	font-family: 'robotothin', sans-serif;
	padding: 0;
	margin: 0;
}

#contenido_education #education p
{
 	display: block;
	color: white;
	font-family: 'robotothin', sans-serif;
	font-size: 1em;
	padding: 2em  2em;
	margin: 0;
	text-align: center;
}


#contenido_education #education #ipn, #contenido_education #education #mejorandola
{
	position: relative;
	margin-top: 3em;
}

#contenido_education #education #ipn img
{
	width: 100px;
	background: rgba(255,255,255,0.8);
	border-radius: 2em;
}


#contenido_education #education #mejorandola img
{
	width: 200px;
	background: rgba(255,255,255,0.75);
	border-radius: 2em;
}


#contenido{
	background: rgba(0, 0, 0, 0.5);
	margin: 0 0 1em 0;
	padding: 0;
}


#me , #education, #pasion, #contact 
{
	padding: 1em 0 3em 0;
	display: block;
}

#contenido #me figure, #contenido #me_details
{
	text-align: center;
}


#contenido #me_details
{
	color: white;
	font-size: 2em;
	margin: 0;
	padding: 0.5em;
}

#contenido #me_details h2
{
	margin: 0;
	padding: 0;
	font-family: 'robotothin', sans-serif;
}

#contenido #me_details h2:after
{
	content: "-"
}

#contenido #me_details h2:before
{
	content: "-"
}

#contenido #me_details span
{
	font-size: 1em;
	padding-left: 0.5em;
}

#contenido #me_details p
{
	display: block;
	color: white;
	font-family: 'robotothin', sans-serif;
	font-size: 0.5em;
	padding: 1em  1em;
	margin: 0 0 0.5em 0;
	text-align: justify;
}

#contenido #me_details #contactme
{
	text-decoration: none;
	background: white;
	border-bottom: solid #E5E5E5 5px;
	font-size: 0.8em;
	color: #3e3e3f;
	padding: 0.2em;
	width: 8em;
	border-radius: 0.2em;
	margin-top: 1em;
}


#contenido #me_details span:hover
{
	color: red;
}

#contenido  #me  figure
{
	padding: 1em 0 0 0.3em;
	margin: 0;
}

#contenido  #me figure img
{
	width: 120px;
	border-radius: 50%;
}

#contenido_pasion
{
	background: white;
	
}

#contenido_pasion #pasion h2
{
	font-size: 3em;
	margin: 0;
}

#contenido_pasion #pasion h3
{
	font-style: italic;
}

#contenido_pasion #pasion span
{
	font-size: 4em;
	padding: 0.1em;
	display: inline-block;
	margin-bottom: 1em;
}

#contenido_pasion #pasion p 
{
	display: block;
	color: black;
	font-size: 16px;
	padding: 0 3em;
	text-align: center;
} 

#contenido_pasion #android
{
	color: #97cb02;
	position: relative;
}

#contenido_pasion #android:after
{
	content: "android";
	font-size: 16px;
	position: absolute;
	left: 0.5em;
}

#contenido_pasion #responsive
{
	color: #ff0001;
	position: relative;
}

#contenido_pasion #responsive:after
{
	content: "hardware";
	font-size: 16px;
	position: absolute;
	left: 0.5em;
}

#contenido_pasion #html5
{
	color: #e54d26;
	position: relative;
}

#contenido_pasion #html5:after
{
	content: "html5";
	font-size: 16px;
	position: absolute;
	left: 1em;
}

#contenido_pasion #video
{
	margin-left: 2em;
}

#contenido_pasion #gdayx img
{
	width: 100px;
}

#contenido_pasion #developerbus img
{
	width: 200px;
}

#contenido_pasion #developerbus figcaption
{
	padding-left: 2em;
}




@media screen and (min-width: 768px){

	#contenido_education #education #ipn, #contenido_education #education #mejorandola
	{
		display: inline-block;
	}

	#contenido_pasion #pasion #gdg, #contenido_pasion #pasion #gdayx
	{
		display: inline-block;
	}

	#contenido_pasion #pasion #developerbus, #contenido_pasion #pasion #video
	{
		display: inline-block;
	}

}

@media screen and (min-width: 1100px){

	body
	{
		text-align: center;
		margin: 0 auto;
		max-width: 1100px;
		background: #7d7d7f;
	}

	#contenido #me_details p
	{
		display: block;
		color: white;
		font-size: 16px;
		padding: 0 10em;
		text-align: center;
	}

	#contenido_education #education p
	{
		display: block;
		color: white;
		font-size: 16px;
		padding: 0 10em;
		text-align: center;
	}

	#contenido_education #education #ipn, #contenido_education #education #mejorandola
	{
		display: inline-block;
	}

	#contenido_pasion #pasion #gdg, #contenido_pasion #pasion #gdayx, #contenido_pasion #pasion #developerbus
	{
		display: inline-block;
		padding: 0;
		margin: 0 0 0.3em 0;
	}

}







